@import "./theme.css";
@import "tailwindcss";

* {
  font-family: var(--font-yekan-bakh);
}

html,
body {
  color: var(--color-text-primary);
  background: var(--color-background);
  overflow-x: hidden;
}

#containerForBullets {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: center;
}

#containerForBannerBullets {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-custom-bullet {
  width: 13px;
  height: 13px;
  background: black;
  border-radius: 50%;
  display: inline-block;
  margin: 0 4px;
  cursor: pointer;
  border: 2px solid var(--color-background);
  transition: all 0.3s;
}

.swiper-custom-bullet-active {
  background: var(--color-primary);
}

.slider_disable_button {
  background-color: var(--color-background-subtle);
  color: var(--color-text-secondary);
  border-color: var(--color-text-secondary);
  cursor: default !important;
}

.custom-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.custom-list-square h2::before {
  content: "";
  display: inline-block;
  background-color: var(--color-primary);
  transform: rotate(45deg);
  border-radius: 5px;
  margin: 0px 4px 0px 16px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.custom-list-circle ul li {
  position: relative;
  padding-right: 32px;
}

.custom-list-circle ul li::before {
  content: "";
  position: absolute;
  right: 0;
  top: 6px; 
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 4px solid var(--color-primary);
}

.swiper-custom-gallery-bullet {
  width: 55px;
  height: 5px;
  background: var(--color-text-secondary);
  border-radius: 50px;
}

.swiper-custom-gallery-bullet-active {
  background: var(--color-primary);
}

.loader {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--color-primary);
  box-shadow: 32px 0 var(--color-primary), -32px 0 var(--color-primary);
  position: relative;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: #FFF2;
    box-shadow: 32px 0 #FFF2, -32px 0 var(--color-primary);
  }
  50% {
    background-color: var(--color-primary);
    box-shadow: 32px 0 #FFF2, -32px 0 #FFF2;
  }
  100% {
    background-color: #FFF2;
    box-shadow: 32px 0 var(--color-primary), -32px 0 #FFF2;
  }
}
      
@media (max-width: 1024px) {
  .custom-list-square ul li h2::before {
    width: 12px;
    height: 12px;
    border-radius: 4px;
  }

  .custom-list-square ul li h2 {
    gap: 8px;
  }

  .custom-list-circle ul li {
    padding-right: 16px;
  }

  .custom-list-circle ul li::before {
    width: 8px;
    height: 8px;
  }

  .swiper-custom-bullet {
    width: 10px;
    height: 10px;
  }

  .swiper-custom-gallery-bullet {
    width: 35px;
    height: 4px;
  }

  .custom-list-square h2::before {
    width: 12px;
    height: 12px;
    border-radius: 4px;
    margin-left: 8px;
  }

  .loader {
    width: 15px;
    height: 15px;
  }
}
